<a href="https://colab.research.google.com/github/kishan75/pythonAssignment2/blob/main/pythonAssignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. **Print the numbers using while loop between range m and n provided by the user in python.**

In [ ]:
m = int(input("enter the value of m : "))
n = int(input("\n enter the value of n \n"))

if m != min(m,n):
  c = m
  m = n
  n = c

m+=1

while m<n:
  print(m)
  m+=1

enter the value of m : 7

 enter the value of n
2
3
4
5
6

2. **Print the following pattern in python**

12345 54321

1234 4321

123 321

12 21

1 1

In [7]:
for i in range(5, 0, -1):
  for j in range(1,i+1):
    print(j,end='')
  print(' ',end='')

  for j in range(i, 0, -1):
    print(j,end='')
  print('\n')

12345 54321

1234 4321

123 321

12 21

1 1

3. **Find the sum of the series 5+55+555+……+nth term, n is the input given by the user.**

In [12]:
n=int(input('number of terms'))
carry=0
total_sum=[]

for i in range(n, 0, -1):
  sum=(5*i+carry)
  total_sum.insert(0,(sum%10))
  carry=int(sum/10)

print(''.join([str(st) for st in total_sum]))

number of terms15
617283950617275

4. **Write a program to generate a series from –n to n and then display the prime numbers in the generated series. n is the input provided by the user.**

In [19]:
n = int(input('enter n'))
arr = [0 for i in range(n+1)]

for i in range(2,n+1):
  if arr[i]==0:
    print(i)
    for j in range(i*2,n+1,i):
      arr[j]=1

enter n10
2
3
5
7

5. **Write a program to generate a series till n and find factorial of all the odd numbers in the series. n will be the input provided by the use**

In [27]:
n=int(input('enter number of terms'))

fact=1

print(fact)

for i in range(3,n+1,2):
  fact*=(i*(i-1))
  print(fact)

enter number of terms15
1
6
120
5040
362880
39916800
6227020800
1307674368000

6. **Create a function that accepts principal amount, rate of interest and time to display the simple interest. If the rate of interest or time or both are missing in the function call it should assign default value 6 to rate and 10 to time.**

In [34]:
def simple_interest(p,r=6,t=10):
  return p*(1+(r*t))

p=int(input('enter principle amount'))
r=input('enter rate of interest')
t=input('enter time')

if r:
  if t:
    print(simple_interest(p,int(r),int(t)))
  else:
    print(simple_interest(p,int(r)))
elif t:
    print(simple_interest(p,t=int(t)))
else:
  print(simple_interest(p))

enter principle amount52
enter rate of interest
enter time52
16276

7. **Create a function add(), multiply() such that each accepts variable length argument and returns the addition and product of all the arguments provided while calling corresponding function.**

For eg : add(5,10) should return 15

add(5,6,10) should return 21

add(4,7,4,7) should return 22 and so on

multiply(5,6) should return 30

subtract(4,8,9) should return 288 and so on

In [40]:
import numpy as np
statement = input("enter the statement")
splited = statement.split('(')
operation = splited[0]
operands = (splited[1].split(')'))[0].split(',')

if operation == 'add':
  print(np.sum([int(i) for i in operands ]))

elif operation == 'multiply':
  print(np.product([int(i) for i in operands ]))

else:
  print('invalid operation')

enter the statementmultiply(5,6,8)
240

8.**Write a python program to merge any 5 csv files into one**

In [3]:
import pandas as pd
concated_data=pd.concat([pd.read_csv('SimpleLinearRegression.csv'),pd.read_csv('USA_Housing.csv'),pd.read_csv('WHO-COVID-19-global-data.csv'),pd.read_csv('business-financial-data-mar-2021-quarter-csv.csv'),pd.read_csv('covid_19_india.csv')])
print(concated_data)
concated_data.to_csv('concated_data.csv')

       YearsExperience   Salary  ...   Deaths  Confirmed
0                  1.1  39343.0  ...      NaN        NaN
1                  1.3  46205.0  ...      NaN        NaN
2                  1.5  37731.0  ...      NaN        NaN
3                  2.0  43525.0  ...      NaN        NaN
4                  2.2  39891.0  ...      NaN        NaN
...                ...      ...  ...      ...        ...
18105              NaN      NaN  ...   3831.0   650353.0
18106              NaN      NaN  ...    773.0    80660.0
18107              NaN      NaN  ...   7368.0   342462.0
18108              NaN      NaN  ...  22775.0  1708812.0
18109              NaN      NaN  ...  18252.0  1534999.0

[169737 rows x 40 columns]

9. **Write a program in python to read the three file N1, N2, N3. Each of the files contains list of names. Following operations must be performed by the program:**

a.   The program should display the contents of each file

In [ ]:
with open('N1.txt','r') as file_N1:
  read_data = file_N1.read()
  print(read_data)
  global file_1_data
  file_1_data = read_data.splitlines()

with open('N2.txt','r') as file_N2:
  read_data = file_N2.read()
  print(read_data)
  global file_2_data
  file_2_data = read_data.splitlines()

with open('N3.txt','r') as file_N3:
  read_data = file_N3.read()
  print(read_data)
  global file_3_data
  file_3_data = read_data.splitlines()

Rajinkant
Will Smith
Akshay
Emraan
Aamir
Katrina
Ajay
Leonardo DiCaprio
Sanjay
Lindsay Lohan
Hrithik
Tiger
Deepika
Alia
Shahrukh
Om Puri
Kiara
Ranbeer
Ranveer
Nana Patekar
Manoj Tiwari
Jackie Shroff
Emma Watson


Will Smith
Robert
Shashank
Lauren
Emraan
William
Tim
Scott
Sam
Leonardo DiCaprio
Rowling
Prateik Babbar
Lindsay Lohan
Deepika
Dharmendra
Om Puri
Dev Anand
Nana Patekar
Ali Fazal
Emma Watson

Neil Nitin Mukesh
Rahul Roy
Varun Dhawan
Vinay Pathak
Will Smith
Richa Chadda
Anushka Sharma
Vaani Kapoor
Emraan
Leonardo DiCaprio
Lindsay Lohan
Shraddha Kapoor
Deepika
Om Puri
Kangana Ranaut
Nana Patekar
Hansika Motwani
Vidya Balan
Emma Watson

b.   Display the names that are common in all three files in the order in which they appear in the file and store them in output file "output.txt".

In [ ]:
output_file_data = []

with open('output.txt','a') as file_output:
  for name in file_1_data:
    if name in file_2_data and name in file_3_data:
      file_output.write(name+'\n')
      output_file_data.append(name)

print(output_file_data)

with open('output.txt','r') as file_data:
  read_data = file_data.read()
  print(read_data)

['Will Smith', 'Emraan', 'Leonardo DiCaprio', 'Lindsay Lohan', 'Deepika', 'Om Puri', 'Nana Patekar', 'Emma Watson']
Will Smith
Emraan
Leonardo DiCaprio
Lindsay Lohan
Deepika
Om Puri
Nana Patekar
Emma Watson

c. Read all the names from output file "output.txt" and form word using first character of all the names.

In [ ]:
with open('output.txt','r') as file_data:
  read_data = file_data.read()
  print(''.join([word[0] for word in read_data.splitlines()]))

WELLDONE